:root {
    --gray-100: #fbfcff;
    --gray-97: #f1f6ff;
    --gray-90: #d8e1f3;
    --gray-70: #a7b5d0;
    --gray-50: #707d96;
    --gray-30: #434d5f;
    --gray-20: #2b323f;
    --gray-15: #232833;

    --radius-xsmall: 3px;
    --radius-small: 6px;
    --radius-med: 8px;
    --radius-lg: 16px;
}

body {
    font-family: sans-serif;
    background-color: var(--gray-90);
    margin: 0;
    padding: 0;
}
p {
    margin: 8px 0;
}

/* ---------------------- */
/* --- HEADER SECTION --- */
/* ---------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--gray-15);
    color: var(--gray-100);
    padding: 16px 24px;
}
header h1 {
    font-size: 24px 44px 24px 24px;
    margin: 0;
}
#header-content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
#model-name-label {
    color: var(--gray-70);
    margin: 0 0 4px 0;
    font-size: 12px;
}
#model-name {
    color: var(--gray-100);
    margin: 0;
    font-size: 14px;
}

/* -------------------- */
/* --- CHAT SECTION --- */
/* -------------------- */
#chat-area {
    margin: 24px;
    display: flex;
    justify-content: center;
}
#chat-container {
    width: 100%;
    max-width: 1000px;
}
#chat-log {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 65vh;
    border: 1px solid var(--gray-90);
    background-color: var(--gray-97);
    padding: 16px;
    overflow-y: scroll; /* Enable scrolling */
    border-radius: var(--radius-small);
}
#chat-log::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#chat-log::-webkit-scrollbar-thumb {
    background-color: var(--gray-90);
    border-radius: var(--radius-med);
}
#chat-log::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-70);
}
#chat-log::-webkit-scrollbar-track {
    background-color: var(--gray-99);
    border-radius: 0 var(--radius-small) var(--radius-small) 0;
}
#chat-log::-webkit-scrollbar-corner {
    background-color: transparent;
}
#prompt-area {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
#prompt-input {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    flex: 1;
    height: auto;
    max-height: 400px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--gray-90);
    border-radius: var(--radius-small);
    background-color: var(--gray-100);
}
#send-button {
    padding: 8px 24px;
    margin: 16px 0;
    border-radius: var(--radius-small);
    background-color: var(--gray-30);
    color: white;
    border: none;
    cursor: pointer;
}
#send-button:hover {
    background-color: var(--gray-15);
}

.user-message {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}
.user-icon {
    margin: 0 0 8px 0;
}
.user-prompt {
    padding: 8px 12px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(00,00,00,0.16);
}
.bot-message {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
}
.bot-icon {
    margin: 0 0 8px 0;
}
.bot-prompt {
    padding: 8px 12px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(00,00,00,0.16);
}

.no-messages {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    opacity: 0.65;
}
/* ------------------- */

/* For fenced code blocks (```...```) */
pre code {
  display: block;
  max-width: 100%;
  padding: 8px;
  background-color: #1e1e1e;
  color: #f8f8f2;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 0.9rem;
}
/* For inline code (`like this`) */
code {
  background-color: #f4f4f4;
  color: #c7254e;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 0.85rem;
}