:root {
    --gray-100: #fbfcff;
    --gray-97: #f1f6ff;
    --gray-90: #d8e1f3;
    --gray-83: #c3cfe6;
    --gray-70: #a7b5d0;
    --gray-50: #707d96;
    --gray-30: #434d5f;
    --gray-20: #2b323f;
    --gray-15: #232833;

    --radius-xsmall: 3px;
    --radius-small: 6px;
    --radius-med: 8px;
    --radius-lg: 16px;
}

@font-face {
  font-family: 'Inter';
  src: url('./src/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./src/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: italic;
}


body {
    font-family: sans-serif;
    background-color: var(--gray-90);
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: var(--gray-15);
}
p {
    margin: 16px 0;
    line-height: 1.4;
}
textarea {
    font-family: Inter, sans-serif;
}
textarea::placeholder {
  color: var(--gray-50);
  opacity: 1; /* Optional: makes sure it's fully visible */
}


/* ---------------------- */
/* --- HEADER SECTION --- */
/* ---------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--gray-20);
    color: var(--gray-100);
    padding: 16px 24px;
}
header h1 {
    font-size: 24px 44px 24px 24px;
    font-weight: 400;
    margin: 0;
    color: #ffffe1;
    letter-spacing: 0.5;
}
#header-content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
#model-name-label {
    color: var(--gray-70);
    margin: 0 0 4px 0;
    font-size: 12px;
    font-style: italic;
}
#model-name {
    color: #ffffe1;
    font-weight: 100;
    letter-spacing: 0.5;
    margin: 0;
    font-size: 14px;
}

/* -------------------- */
/* --- CHAT SECTION --- */
/* -------------------- */
#chat-area {
    margin: 24px;
    display: flex;
    justify-content: center;
}
#chat-container {
    width: 100%;
    max-width: 1000px;
}
#chat-log {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 65vh;
    border: 1px solid var(--gray-90);
    background-color: var(--gray-97);
    padding: 16px;
    overflow-y: scroll; /* Enable scrolling */
    border-radius: var(--radius-small) var(--radius-small) 0 0;
}
#chat-log::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
#chat-log::-webkit-scrollbar-thumb {
    background-color: var(--gray-83);
    border-radius: var(--radius-med);
}
#chat-log::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-70);
}
#chat-log::-webkit-scrollbar-track {
    background-color: var(--gray-99);
    border-radius: 0 var(--radius-small) var(--radius-small) 0;
}
#chat-log::-webkit-scrollbar-corner {
    background-color: transparent;
}
#prompt-area {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
#prompt-input {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    flex: 1;
    height: auto;
    max-height: 400px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--gray-90);
    border-radius: var(--radius-small);
    background-color: var(--gray-100);
    outline: none;
}
#prompt-input:focus-visible {
    border: 1px solid var(--gray-70);
}
#buttons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
#send-button {
    padding: 8px 24px;
    margin: 16px 0;
    border-radius: var(--radius-xsmall);
    color: white;
    border: none;
    cursor: pointer;
    background-color: #4480ae;
    transition: all 0.1s;
}
#send-button:hover {
    background-color: #2e5c7f;
}
#stop-button {
    background-color: var(--gray-30);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px;
    width: 32px;
    height: 32px;
    margin: 16px 0;
    border-radius: var(--radius-lg);
    color: white;
    border: none;
    cursor: pointer;
    line-height: 0;
    transition: all 0.1s;
}
#stop-button:hover {
    background-color: #b32f2d;
    width: 180px;
}
#stop-button-label {
    display: none;
    opacity: 0;
}
#stop-button:hover #stop-button-label {
    display: block;
    opacity: 1;
}

.user-message {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}
.user-icon {
    margin: 0 0 8px 0;
}
.user-prompt {
    padding: 8px 12px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: var(--radius-xsmall);
    box-shadow: 0 2px 4px 0 rgba(00, 00, 00, 0.16);
}
.bot-message {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
}
.bot-icon {
    margin: 0 0 8px 0;
}
.bot-prompt {
    padding: 8px 12px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: var(--radius-xsmall);
    box-shadow: 0 2px 4px 0 rgba(00, 00, 00, 0.16);
}

.no-messages {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    opacity: 0.65;
}

/* --------------------- */
/* --- BOT RESPONSES --- */
/* --------------------- */

.bot-prompt pre code { /* For fenced code blocks (```...```) */
    display: block;
    max-width: 100%;
    padding: 8px;
    background-color: #1e1e1e;
    color: #f8f8f2;
    border-radius: var(--radius-xsmall);
    overflow-x: auto;
    font-family: Consolas, Monaco, "Courier New", monospace;
    font-size: 0.9rem;
}
.bot-prompt code { /* For inline code (`like this`) */
    background-color: #f4f4f4;
    color: #c7254e;
    padding: 4px 8px;
    border-radius: var(--radius-xsmall);
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: 0.85rem;
}
.bot-prompt li {
    line-height: 1.3;
    margin-bottom: 16px;
}

/* ------------------- */
/* --- OPTIONS BAR --- */
/* ------------------- */
#options-container {
    border-radius: 0 0 var(--radius-small) var(--radius-small);
    background-color: var(--gray-97);
    padding: 4px;
    display: flex;
    justify-content: flex-end;
}
#export-json-button {
    border: none;
    border-radius: var(--radius-xsmall);
    background-color: var(--gray-97);
    padding: 4px 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--gray-30);
    transition: all 0.1s;
    cursor: pointer;
}
#export-json-button:hover {
    background-color: var(--gray-90);
}




/* --------------------------- */
/* --- MATERIAL ICONS FONT --- */
/* --------------------------- */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* You can adjust size here or inline */
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
